*.gz
*.txt
*.dcm
*.log
*.csv
*.tsv
data/2D/*
data/raw/*
data/ReMIND_dataset/**
# !data/ReMIND_dataset/**/
# !data/ReMIND_dataset/**/T1_converted/
# !data/ReMIND_dataset/**/T1_converted/**
# !data/ReMIND_dataset/**/tumor_converted/
# !data/ReMIND_dataset/**/tumor_converted/**
data/processed/*
*.pth
*.pt
/results/*/heatmaps/*.jpg
/results/*/*/heatmaps/*.jpg
/src/__pycache__/*.pyc
/home/adil/Documents/TUE/preparationPhase/myProject/src/__pycache__/*
*.pyc