*.gz
*.dcm
*.log
*.csv
*.tsv
*.zip
*.pth
*.pt

data/2D/*
data/raw/*
data/ReMIND_dataset/*
data/processed/*

task.txt

!results/MLO_l2_lr-0.001_marg-4.0_thresh-0.7_loss-TCL/train_test/model.pth
results/**/*.jpg
real_results/**/*.jpg



/src/__pycache__/*.pyc
/home/adil/Documents/TUE/preparationPhase/myProject/src/__pycache__/*
*.pyc
