*.gz
# *.txt
*.dcm
*.log
*.csv
*.tsv
*.png
*.jpg
data/*
data/2D/*
data/raw/*
data/ReMIND_dataset/*
data/processed/*
task.txt
/results/old/*
*.pth
*.pt
/results/*/heatmaps/*.jpg
/results/*/*/heatmaps/*.jpg
/src/__pycache__/*.pyc
/home/adil/Documents/TUE/preparationPhase/myProject/src/__pycache__/*
*.pyc
*.zip